@import "colors";
@import "Fontssx";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.quote-container {
  display: flex;
  align-items: center;

  width: 50%;
}

.imgDiv {
  margin-right: 10px;
  margin-bottom: 10px;

  img {
    height: 469px;
    width: 400px;
    filter: grayscale(100%);
  }
}

.quote {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.quote__text {
  font-size: $font-size-quote;
}

.quote__author {
  font-size: $font-size-author;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
}

.button {
  color: $font-color-button;
  font-size: $font-size-button;
  margin-right: 10px;
  margin-bottom: 10px;

  &__generate {
    background-color: $button-generate-background;
    border-radius: 3px;
  }

  &__share {
    background-color: $button-share-background;
    border: 0px;
  }
}

.button:hover {
  cursor: pointer;
}
